<p id="notice"><%= notice %></p>

<p>
  <strong>Room name:</strong>
  <%= @game.room_name %>
</p>

hi. <br/>
<%= Card.find(1).rank %>
<%= Card.find(1).suit %>
 <br/>
<!-- TODO: button that calls a function in gamescontroller-->

<%= link_to 'Edit', edit_game_path(@game) %> <br/>
<%= link_to 'Back', games_path %><br/>
