<p id="notice"><%= notice %></p>

<p>
  <strong>Room name:</strong>
  <%= @game.room_name %>
</p>

hi.
<br/> <br/>

Players: <br/>
<% @game.players.each do |player| %>
  <%= player.username %>  <%= player.location %>
  <% if player.in_hand %> in hand <%else%> folded <%end%>
    <% get_players_cards(player, @game).each do |card| %>
      <%= card.rank %><%= card.suit %>
    <%end%>
  <br/>
  money: <%= player.money %>, in the round: <%= player.in_pot_current %>
  <br/>
<%end%> <br/>

high bet: <%= @game.high_bet %>

<br/> <br/>

Table: <br/>
<% get_table_cards(@game).each do |card| %>
  <%= card.suit %><%= card.rank %>
<%end%>
<br/>

Game round: <%= @game.round %> <br/>

Deck: <br/>
<% @game.cards.each do |card| %>
  <% if card.location == -1 %>
    <%=card.rank%><%=card.suit %>
  <% end %>
<%end%>

<br/>
Pot: <%= @game.pot %>
<br/>
Dealer <%= @game.dealer%>
<br/>
Current player <%= @game.current_player%>
<br/>
High better <%= @game.high_better%>

<% if @game.round == 0 %>
  <% if in_game(current_user, @game) %>
    <%= button_to 'deal', 'deal', params: {game: @game.id, round: @game.round} %>
  <% end %>
<% end %>

<% if in_game(current_user, @game) %>
  <% if @game.round == -1 or @game.round == 4 %>
    <%= button_to 'start round', 'set_round', params:{game: @game.id, round: (@game.round+1)%5} %>
  <% end %>
<%end%>

<br/>

<% if in_game(current_user, @game) %>
  <% if get_player(current_user, @game).location == @game.current_player %>
    <%= button_to 'fold', 'action', params:{game: @game.id, type: 'fold', player: get_player(current_user, @game)} %>
    <%= button_to 'call', 'action', params:{game: @game.id, type: 'call', player: get_player(current_user, @game)} %>
    <%= button_to 'check', 'action', params:{game: @game.id, type: 'check', player: get_player(current_user, @game)} %>
    <%= form_with(url: "action", method: 'post') do %>
      <%= hidden_field_tag(:game, @game.id) %>
      <%= hidden_field_tag(:type, 'bet') %>
      <%= hidden_field_tag(:player, get_player(current_user, @game).id) %>
      <%= number_field_tag(:amount) %>
      <%= submit_tag("bet") %>
    <% end %>
    <%= form_with(url: "action", method: 'post') do %>
      <%= hidden_field_tag(:game, @game.id) %>
      <%= hidden_field_tag(:type, 'bet') %>
      <%= hidden_field_tag(:player, get_player(current_user, @game).id) %>
      <%= number_field_tag(:amount) %>
      <%= submit_tag("raise") %>
    <% end %>
  <% end %>
<%end%> <br/>

<%= button_to 'Add AI', 'add_ai', params:{game: @game.id, type: '1', user: current_user} %>
<%= button_to 'Join Game', 'add_player', params:{game: @game.id, user: current_user } %>
<%= button_to 'Leave Game', 'leave_game', params:{game: @game.id, player: get_player(current_user, @game)}%>

<%= link_to 'Edit', edit_game_path(@game) %> <br/>
<%= link_to 'Back', games_path %><br/>
