<p id="notice"><%= notice %></p>

<strong>Room name:</strong>
<%= @game.room_name %>

<% if @game.round > 0 %>
  <center><h2>Table Cards</h2></center>
<% end %>
<div class="card-container">
  <div class="row">
    <% get_table_cards(@game).each do |card| %>
      <% card_str = card.rank + card.suit %>
      <img src="/assets/cards/<%= card_str %>.png">
    <%end%>
  </div>
  <div class="row">
    <b><font size="+1">
      <font color='000000'>
        <div class="text-box">
          Pot: $<%= @game.pot %>
        </div>
      </font>
    </font></b>
  </div>
  <div class="row">
    <b><font color='000000'>
      <div class="text-box">
        High bet: $<%= @game.high_bet %>
      </div>
    </font></b>
  </div>
  <br/>
  <div class = "row">
    <% @game.players.each do |player| %>
      <% player_name = player.username %>
      <% if player.location == @game.dealer %>
        <% player_name += " (dealer)" %>
      <%end%>
      <% if @game.current_player == player.location && @game.round != 4 %>
        <b><font color='bb1111'><div class="text-box"><%= player_name %></div></font></b>
      <% else %>
        <div class="text-box"><%= player_name %></div>
      <%end%>
    <%end%>
  </div>
  <div class = "row">
    <% @game.players.each do |player| %>
      <div class="text-box">
        Bank: $<%= player.money %>
      </div>
    <% end %>
  </div>
  <div class = "row">
    <% @game.players.each do |player| %>
      <% if player.ai != "" && (@game.round < 4 or player.in_hand==false) %>
        <div class = "overlap">
          <div class = "overlap-container"><img src="/assets/cards/green_back.png"></div>
          <div class = "overlap-container"><img src="/assets/cards/green_back.png"></div>
        </div>
      <% else %>
        <div class = "overlap">
          <% get_players_cards(player, @game).each do |card| %>
            <% card_str = card.rank + card.suit %>
            <div class = "overlap-container"><img src="/assets/cards/<%= card_str %>.png"></div>
          <%end%>
        </div>
      <%end%>
    <%end%>
  </div>
  <div class="row">
  <% if @game.round != 4 %>
    <% @game.players.each do |player| %>
      <% bet = "$" + player.in_pot_current.to_s %>
      <% if player.in_hand == false %>
        <% bet = "Folded" %>
      <%end%>
      <div class="text-box">Bet: <%= bet %></div>
    <%end%>
  <% else %>
    <% winners = @game.get_winners() %>
    <% @game.players.each do |player| %>
      <% if player.in_hand == false %>
        <div class="text-box">Folded</div>
      <% elsif winners.include?(player) %>
        <b><div class="text-box"><%= player.hand %></div></b>
      <% else %>
        <div class="text-box"><%= player.hand %></div>
      <% end %>
    <% end %>
  <% end %>
  </div>
  <div class="row">
    <% @game.players.each do |player| %>
      <div class="text-box">In pot: $<%= player.in_pot_hand %></div>
    <%end%>
  </div>
</div>

<% if in_game(current_user, @game) %>
  <% if @game.round == 4 %>
    <%= button_to 'start next hand', 'start_game', params:{game: @game.id} %>
  <% end %>
<%end%>

<br/>

<% if in_game(current_user, @game) %>
  <% if get_player(current_user, @game).location == @game.current_player && @game.round < 4 %>
    <%if @game.can_call?(get_player(current_user, @game)) %>
      <%= button_to 'Call', 'action', params:{game: @game.id, type: 'call', player: get_player(current_user, @game)} %> <%end%>
    <%if @game.can_check?(get_player(current_user, @game)) %>
      <%= button_to 'Check', 'action', params:{game: @game.id, type: 'check', player: get_player(current_user, @game)} %> <%end%>
    <%if @game.can_bet?(get_player(current_user, @game)) %>
      <%= form_with(url: "action", method: 'post') do %>
        <%= hidden_field_tag(:game, @game.id) %>
        <%= hidden_field_tag(:type, 'bet') %>
        <%= hidden_field_tag(:player, get_player(current_user, @game).id) %>
        <%= number_field_tag(:amount) %>
        <%= submit_tag("Bet") %>
      <% end %> <% end %>
    <%if @game.can_raise?(get_player(current_user, @game)) %>
      <%= form_with(url: "action", method: 'post') do %>
        <%= hidden_field_tag(:game, @game.id) %>
        <%= hidden_field_tag(:type, 'raise') %>
        <%= hidden_field_tag(:player, get_player(current_user, @game).id) %>
        <%= number_field_tag(:amount) %>
        <%= submit_tag("Raise") %>
      <% end %>
    <% end %>
    <%= button_to 'Fold', 'action', params:{game: @game.id, type: 'fold', player: get_player(current_user, @game)} %>
  <% elsif @game.round < 4 %>
    <%= button_to 'let ai play', 'ai_play', params:{game: @game.id} %>
    <br/><br/>
  <% end %>
<%end%> <br/>

<% if @game.round == 4 %>
  <%= button_to 'Add AI 1', 'add_ai', params:{game: @game.id, type: '1', user: current_user} %>
  <%= button_to 'Add AI 2', 'add_ai', params:{game: @game.id, type: '2', user: current_user} %>
<% end %>
<% if !in_game(current_user, @game) %>
  <%= button_to 'Join Game', 'add_player', params:{game: @game.id, user: current_user } %>
<% else %>
  <%= button_to 'Leave Game', 'leave_game', params:{game: @game.id, player: get_player(current_user, @game)}%>
<%end%>

<%= link_to 'Settings', edit_game_path(@game) %>
