<p id="notice"><%= notice %></p>

<p>
  <strong>Room name:</strong>
  <%= @game.room_name %>
</p>

hi. <br/>
<%= Card.find(1).rank %>
<%= Card.find(1).suit %>
<br/> <br/>

Players: <br/>
<% @game.players.each do |player| %>
  <%= player.username %>
  says hello <br/>
<%end%>

<%= button_to 'Add AI', player_path, method: :create %> <!-- this should probably just redirect you to a new players form -->

<%= link_to 'Edit', edit_game_path(@game) %> <br/>
<%= link_to 'Back', games_path %><br/>
