<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="application.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <title>Poker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='menu'>
      <div class='menu-item'><%= link_to "Home", '/', class: 'a' %> </div>
      <div class='menu-item'><%= link_to "Log in", '/login', class: 'a' %> </div>
      <div class='menu-item'><%= link_to "Sign Up", '/users/new', method: "get" %> </div>
      <div class='menu-item'><%= link_to "Log out", logout_path, method: "delete" %></div>
      <div class='menu-item'><%= link_to "Tutorial", '/welcome/tutorial' %></div>
      <div class='menu-item'><%= link_to "Games", '/games' %> </div>
      <div class='menu-item'><%= link_to "New Game", '/games/new' %> </div>


      <div class='username'> <% if logged_in? %>
        <h4> <%= current_user.username %></h4>  <% end %></div>
    </div>
    <%= yield %>
  </body>
</html>
